* {
	font-family: Arial, Helvetica, sans-serif;
}

.nav-item:hover {
	background-color: #3262a8;
}

.dropdown-item:hover {
	background-color: #3262a8;
}

h1 {
	text-align: center;
}
h2 {
	padding: 20px;
	text-align: center;
}

h3 {
	text-align: center;
}

.mision-vision {
	text-align: justify;
	padding-bottom: 50px;
}

h6 {
	text-align: right;
}
.nav-menu {
	font-size: 22px;
	font-weight: bolder;
}

.descripcion {
	line-height: 150%;
}

.icon-trabajos {
	/*Configuracion para iconos de GitHub y LinkedIn*/
	width: 90px;
}

#cabezera {
	background-image: linear-gradient(130deg, #3262a8, #50ccff 50%, #3262a8);
	padding: 5%;
	color: white;
}
#fotosinicio {
	border-radius: 50px;
	transition: transform 0.2s;
	padding: 1%;
	transform: scale(1);
}
#fotosinicio2 {
	border-radius: 50px;
	transition: transform 0.2s;
	padding: 1%;
	transform: scale(1);
}
#texto1 {
	text-align: center;
	display: grid;
	margin: auto;
}
#texto2 {
	text-align: center;
	display: grid;
	margin: auto;
}

#textoacerca {
	padding: 5%;
	text-align: justify;
}

.container img {
	border-radius: 350px;
	transition: transform 0.2s;
	padding: 2%;
}

.container img:hover {
	transform: scale(1.1);
}

.footer-contenido p:hover {
	transform: scale(1.3);
	transition: transform 0.2s;
}

.border {
	border-radius: 1% 25%;
	text-align: justify;
	padding: 1.5%;
	font-style: italic;
}

.lista-faq {
	text-align: justify;
	padding-bottom: 50px;
}

#FAQ {
	padding: 40px 250px;
	margin: 0 auto;
	text-align: justify;
}

#enviar-contacto {
	color: white;
	background-color: #66d701;
	border-radius: 50px;
	box-shadow: 0px 5px 10px gainsboro;
}

#Agregar {
	color: white;
	background-color: #66d701;
	border-radius: 50px;
	box-shadow: 0px 5px 10px gainsboro;
}

.btn {
	margin-top: 1rem;
	display: inline-block;
	padding: .8rem 3rem;
	background: #ffff;
	font-weight: 500;
	cursor: pointer;
	color: #66d701;
	font-size: 1.7rem;
}

.btn:hover {
	letter-spacing: .1rem;
}

.btn {
	margin-top: 1rem;
	display: inline-block;
	padding: .8rem 3rem;
	background: #ffff;
	font-weight: 500;
	cursor: pointer;
	color: #66d701;
	font-size: 1.7rem;
}

.btn:hover {
	letter-spacing: .1rem;
}

.terminos {
	text-align: justify;
	margin: 6rem;
}

.reembolso {
	text-align: justify;
	margin: 6rem;
}

/*Diseño Slider Inicio*/

.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 20px;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}

.carousel-caption a {
	/*Botón Tienda*/
	text-decoration: none;
	background: #66d701;
	padding: 10px 30px;
	display: inline-block;
	border-radius: 300px;
	color: white;
	margin-top: 15px;
}

.w100 {
	height: 100vh;
}

#politicasacepto {
	outline: none;

	color: black;
}

#terminosacepto {
	outline: none;
	color: black;
}

#yatengocuenta {
	outline: none;
	text-decoration: none;
	color: black;
}

/*SLIDER CARRUSEL CARDS PRODUCTOS*/
#tamañocarrusel .carousel-inner {
	height: 400px;
}
/*Fin*/

.reembolso .center {
	text-align: center;
}

/*Diseño footer*/

.footer {
	/*Diseño del footer*/
	background-image: linear-gradient(to right, #3262a8, #38b6ff 55%);
	padding: 0.5%;
	color: white;
	width: 100%;
}
footer a {
	/*Diseño a los links*/
	outline: none;
	text-decoration: none;
	color: white;
	transition: all 0.5s;
}
footer a:hover {
	/*Diseño al poner el cursor sobre el link*/
	color: white;
}

.footer .footer-contenido {
	/*Columnas del footer*/
	width: 100%;
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 50px;
	padding: 45px 0px;
}

.footer .row {
	/*Espacio de margin en las redes sociales del footer*/
	margin-top: 20px;
}

/*Responsive footer*/
@media screen and (max-width: 800px) {
	/*Desde 800px comienza el responsive*/
	.footer .footer-contenido {
		width: 90%; /*Ajustamos el contenido ya que en 100, el contenido queda muy pegado al borde*/
		grid-template-columns: repeat(1, 1fr); /*Reducimos las columnas*/
		grid-gap: 30px; /*Se disminuye el margen de cada columna*/
		padding: 35px 0px; /*Se reduce el relleno del contenedor a 30px*/
	}
	.main-title-products {
		font-size: 10px;
	}
}
@media screen and (max-width: 1400px) {
	/*Se ajusta la imagen de pago desde los 1400px hacia abajo a un width de 100%*/
	#img-pago {
		max-width: 100%;
	}
}

@media (min-width: 1183px) {
	#caption {
		bottom: 400px;
	}
}
/*Fin*/
