/*FONDO DE LA PAGINA ABOUT-US*/
#fondoabout{
    background-image: url(/img/iconos-g-sports-azul.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
}
.container-products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.product{
    border: 1px solid #ccc;
    padding: 20px;
}

.product-title{
    text-align: center;
}

.product-price{
    color: brown;
}
.container {
    text-align: center;
}